#include <bits/stdc++.h>
using namespace std;
class Time
{
protected:
	int hours, minutes, seconds;
	int i, j;

public:
	void setData()
	{
		cout << "Enter Hours: ";
		cin >> hours;
		cout << "Enter Minutes: ";
		cin >> minutes;
		cout << "Enter Seconds: ";
		cin >> seconds;
		i = hours * 3600;
		j = minutes * 60;
	}
	void getData()
	{
		cout << "The time is: " << hours << ":" << minutes << ":" << seconds << endl;
		cout << "Total Time is: " << i + j + seconds << endl;
	}
};
int main()
{
	Time t;
	t.setData();
	t.getData();
	return 0;
}
